<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icu.yunke.auth.mapper.AuthMapper">

    <resultMap id="AuthenticationUserDTO" type="icu.yunke.framework.security.dto.AuthenticationUserDTO">
        <result column="id" property="id"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_at" property="updateAt"/>
        <result column="create_by" property="createBy"/>
        <result column="create_at" property="createAt"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="is_enabled" property="enabled"/>
        <result column="is_deleted" property="deleted" />
        <collection property="perms" ofType="string">
            <result column="perm"/>
        </collection>
        <collection property="roles" ofType="string">
            <result column="role"/>
        </collection>
    </resultMap>

    <select id="getAuthenticationUserDTOByUserId" resultMap="AuthenticationUserDTO">
        select t1.id,
               t1.username,
               t1.password,
               t1.nickname,
               t1.avatar,
               t1.phone,
               t1.email,
               t1.is_enabled,
               t1.is_deleted,
               t1.create_by,
               t1.create_at,
               t1.update_by,
               t1.update_at,
               t3.auth_key role,
               t5.auth_key perm
        from tb_sys_user t1
                 left join tb_sys_user_role t2 on t1.id = t2.user_id
                 left join tb_sys_role t3 on t3.id = t2.role_id
                 left join tb_sys_role_menu t4 on t4.role_id = t3.id
                 left join tb_sys_menu t5 on t5.id = t4.menu_id
        where t1.is_deleted = 0
          and t1.is_enabled = 1
          and t1.id = #{userId}
    </select>

    <select id="getAuthenticationUserDTOByUsername" resultMap="AuthenticationUserDTO">
        select t1.id,
               t1.username,
               t1.password,
               t1.nickname,
               t1.avatar,
               t1.phone,
               t1.email,
               t1.is_enabled,
               t1.is_deleted,
               t1.create_by,
               t1.create_at,
               t1.update_by,
               t1.update_at,
               t3.auth_key role,
               t5.auth_key perm
        from tb_sys_user t1
                 left join tb_sys_user_role t2 on t1.id = t2.user_id
                 left join tb_sys_role t3 on t3.id = t2.role_id
                 left join tb_sys_role_menu t4 on t4.role_id = t3.id
                 left join tb_sys_menu t5 on t5.id = t4.menu_id
        where t1.is_deleted = 0
          and t1.is_enabled = 1
          and t1.username = #{username}
    </select>


</mapper>
